<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script>
var app = angular.module("users", []); app.controller("usersCtrl",
function($scope, $http) {
	// the listUsers is called when page is loaded
	$http.get("/listUsers").then(function(data) {
	$scope.usersList = data.data;
	console.log(data.data);
	});

	$scope.addUser = function () {
	$scope.msgtext = "addUser";
	if ($scope.usersList.length == 3) {
	$http.post("/addUser").then(function(data) {
	$scope.msgtext = "User added successfully.";
	$http.get("/listUsers").then(function(data) {
	$scope.usersList = data.data;
	console.log(data.data);
	});
	});
	}
	else { $scope.msgtext = "The user is already in your list."; }
	}

	$scope.deleteUser = function () {
	$scope.msgtext = "deleteUser";
	if ($scope.usersList.length == 4) {
	$http.delete("/deleteUser/4").then(function(data) {
	$scope.msgtext = "User deleted successfully.";
	$scope.usersList.splice(3, 1);
	});
	}
	else { $scope.msgtext = "The user is already deleted from the list."; }
	} 
	
	$scope.getUser = function () {
	$http.get("https://jsonplaceholder.typicode.com/users/2").then(function(data) { //  einai kai afto sosto
	// $http.get("/get_external_api/users/2").then(function(data) { // afto mas dinei epipleon privacy
	console.log("index.html data");
	console.log(data.data);
	$scope.msgtext = "Get user 2.";
	$scope.user = data.data;
	});
	}

	$scope.login = function () {
	$scope.msgtext = "login";
	var input = {
	};
	input["username"] = $scope.username;
	input["password"] = $scope.password;
	$http.post("/login", input).then(function(data) {
	$scope.msgtext = data.data;
	});
	}
});
</script>
<div class="container">
<h1>Bootstrap + Angular!</h1>
<img src="images/logo.png" alt="Frederick Logo">

<div class="row">
<div class="col-sm-4" style="background-color:lightgray;
border-radius:5px; padding:5px;">
<div ng-app="users" ng-controller="usersCtrl"> <ul
class="list-group">
<li class="list-group-item" ng-repeat="x in usersList">
User ID: {{x.id}}, Name: {{x.name}}, Profession:
{{x.profession}} </li>
<li class="list-group-item">
User ID: {{user.id}}, Name: {{user.name}}, Username:
{{user.username}} </li>
</ul>
<div class="row">
<div class="col-sm-4"> <p>{{msgtext}}</p>
</div>
<div class="col-sm-4">
<button class="btn btn-success" ng-click="addUser()">Add
User4</button>
<button class="btn btn-success" ng-click="deleteUser()">Delete
User4</button>
</div>
<div class="col-sm-4">
<input ng-model="username" type="text" placeholder="Your 
username please">
<input ng-model="password" type="password" placeholder="Your 
password please">
<button class="btn btn-success" ng-click="login()">Login</button>
<button class="btn btn-success" ng-click="getUser()">Get User 2</button>
</div>
</div>
</div>
</div>
<div class="col-sm-8">
</div>
</div>
</div>
</body>
</html>